

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: auto;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Left + Right Triggers*/

.trig {
  width: 25px;
  height: 35px;
  position: absolute;
  border-radius: 3px;
  top: 100px;
}

.trig:hover {
  cursor: pointer;
}

.l-trig {
  left: -35px;
}

.r-trig {
  right: -35px;
}

.l-trig span:nth-child(1) {
  background-color: lightgrey;
  position: absolute;
  width: 5px;
  height: 65%;
  transform: rotate(45deg);
  top: 0;
  left: 7px;
  border-radius: 3px;
}

.l-trig span:nth-child(2) {
  background-color: lightgrey;
  position: absolute;
  width: 5px;
  height: 65%;
  transform: rotate(-45deg);
  bottom: 0;
  left: 7px;
  border-radius: 3px;
}

.r-trig span:nth-child(1) {
  background-color: lightgrey;
  position: absolute;
  width: 5px;
  height: 65%;
  transform: rotate(-45deg);
  top: 0;
  right: 7px;
  border-radius: 3px;
}

.r-trig span:nth-child(2) {
  background-color: lightgrey;
  position: absolute;
  width: 5px;
  height: 65%;
  transform: rotate(45deg);
  bottom: 0;
  right: 7px;
  border-radius: 3px;
}
main {
	width: 100%;
	height:100%;
}

#display_img {
  position: absolute;
  top: 0;
  width: auto;
  max-height: 450px;
  margin-top: 5px;
}
#limite{
  overflow: hidden;
  position: absolute;
  height: 520px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.gal_img:hover {
  cursor: pointer;
}

  .gal_img {
	height: 42px;
	position: relative;
	top: 82%;
	margin-left: 5px;
	margin-right: 5px;
  }

  .gal_img:hover {
	cursor: pointer;
  }
  .trig {
	top: 230px;
  }
  .trig:hover {
	cursor: pointer;
  }
#root{
  width: 100%;
  height:100%;
}
#gallery{
	width: 50%;
	height: 520px;
	position: relative;
	border-radius: 5px;
}
#contact{
	width: 32%;
	margin-left:7%;
	position:relative;
	height: 520px;
}
#lista{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	justify-content: space-between;
	display: flex;
	padding: 8%;
	border-radius:20px;
}
#bold{
	font-weight: bold;
	text-transform: uppercase;
}
#descricao{
    padding: 5%;
}
#descricao b{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
#descricao p {
	text-align: justify;
	border-left:solid 10px lightsteelblue;
	padding-left: 25px;
}
#media{
    border-radius: 20px;
    height: auto;
    justify-content: center;
    margin: 10%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 10px;
}
.icone{
	height:20px;
	cursor: pointer;
	padding: 5px;
}
.fale{
	display: flex;
    justify-content: center;
}
#listas_medias{
	display: flex;
    justify-content: center;
}
#responsive{
	width: 100%;
	height:100%;
	display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.center{
	display: flex;
    justify-content: center;
}
#quadro{
  overflow: hidden;
  width: 100px;
  height: 100px;
  justify-content: center;
  display: flex;
  border-radius: 100%;
}
#foto_perfil{
  width: 100%;
  height: auto;
}
.all{
  width: 100%;
  justify-content: center;
  display: flex;
}
@media screen and (max-width: 900px) {
	#responsive {
		width: 100%;
		height:100%;
		display: inline-block;
		justify-content: center;
		align-items: flex-end;
		position: relative;	
	}
	#gallery{
		width: 75%;
		height: 520px;
		position: relative;
		background-color: transparent;
		border-radius: 5px;
		margin: 1% 12% 5% 12%;
	}
	#contact{
		width: 75%;
		margin: 1% 12% 12% 12%;
    
	}
	#lista{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		justify-content: space-between;
		display: flex;
		padding: 3% 15%;
		border-radius:20px;
	}
	#contact{
		bottom:0px;
	}
	#descricao{
		margin-top: 1%;
		padding: 5%;
	}
}
.sobre{
  text-align: center;
    margin: 2%;
    font-size: x-small;
}
[class*='tc-animation-'] {-webkit-animation-duration: 0.5s;animation-duration: 0.5s;-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.tc-animation-fade {-webkit-animation-name: tc-fade;animation-name: tc-fade;-webkit-animation-duration: 0.8s;animation-duration: 0.8s;-webkit-animation-timing-function: linear !important;animation-timing-function: linear !important;}
@-webkit-keyframes tc-fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes tc-fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}